<% content_for :title, "Editing bike" %>

<h1>Editing bike</h1>

<%= render "form", admin_bike: @admin_bike %>

<br>

<div>
  <%= link_to "Show this bike", @admin_bike %> |
  <%= link_to "Back to bikes", admin_bikes_path %>
</div>
